.scrollable-table {
    overflow-y: auto;
}

table {
    /* width: 100%; */
    text-align: left;
    border-collapse: collapse;
}

table thead th, table tbody td {
    padding: 0.5em;
    font-size: 1em;
    border: none;
    font-weight: 600;
}

table thead th {
    background-color: rgb(153, 189, 255);
}

table tbody td {
    border-bottom: 1px solid black;
}