.data-entry-panel {
    display: flex;
    flex-flow: column nowrap;
    position: relative;
    padding-bottom: 10vh;
}
.data-entry-columns {
    flex-grow: 1;
    flex-shrink: 1;
    /* flex-basis: 80%; */

    display: flex;
    flex-flow: row nowrap;
}
.data-entry-columns > * {
    flex-grow: 1;
    flex-shrink: 1;
    flex-basis: 33.3%;
}
.data-entry-accessories {
    flex-grow: 0;
    /* flex-basis: 20%; */

    display: flex;
    flex-flow: row nowrap;
}
.data-entry-accessories > * {
    flex-grow: 1;
    flex-shrink: 1;
    flex-basis: 0;
}
.data-entry_settings {
    display: flex;
    flex-flow: column nowrap;
    padding: 0.5em;
    gap: 0.5em;
}

.right-upper-container {
    display: grid;
    flex-grow: 1;

    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 10fr 1fr 2fr 4fr;

    padding-top: 0.625em;
    padding-left: 1.25em;
    padding-right: 1.25em;
    gap: 0.3125em;

    box-sizing: border-box;
}

.right-upper-container>* {
    border: 0.0625em solid black;
}

.right-lower-container {
    display: none;
    flex-grow: 1;

    grid-template-rows: 1fr 1fr 1fr 10fr;

    padding: 1.25em;

    gap: 0.3125em;

    box-sizing: border-box;
}

.right-lower-title {
    grid-row-start: 1;
    grid-row-end: span 2;
}

.right-lower-container>* {
    border: 0.0625em solid black;
}

.compatible {
    color: rgb(47, 212, 47);
}

.incompatible {
    color: rgb(255, 51, 51);
}