.right-container {
    display: grid;
    grid-template-rows: 1fr 1fr;
    flex-grow: 1;
}

.right-upper-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 10fr 1fr 2fr 4fr;

    padding-top: 0.625em;
    padding-left: 1.25em;
    padding-right: 1.25em;
    gap: 0.3125em;

    box-sizing: border-box;
}

.right-upper-container>* {
    border: 0.0625em solid black;
}

.right-lower-container {
    display: grid;

    grid-template-rows: 1fr 1fr 1fr 10fr;

    padding: 1.25em;

    gap: 0.3125em;

    border-top: 0.1875em solid black;

    margin-top: 1.25em;

    box-sizing: border-box;
}

.right-lower-title {
    grid-row-start: 1;
    grid-row-end: span 2;
}

.right-lower-container>* {
    border: 0.0625em solid black;
}