.right-container {
    display: grid;
    grid-template-rows: 1fr 1fr;
    flex-grow: 1;
}

.right-upper-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 10fr 1fr 2fr 4fr;

    padding-top: 10px;
    padding-left: 20px;
    padding-right: 20px;
    gap: 5px;

    box-sizing: border-box;
}

.right-upper-container>* {
    border: 1px solid black;
}

.right-lower-container {
    display: grid;

    grid-template-rows: 1fr 1fr 1fr 10fr;

    padding: 20px;

    gap: 5px;

    border-top: 3px solid black;

    margin-top: 20px;

    box-sizing: border-box;
}

.right-lower-title {
    grid-row-start: 1;
    grid-row-end: span 2;
}

.right-lower-container>* {
    border: 1px solid black;
}