body, html {
    width: 100%;
    height: 100%;
    margin: 0;
}

.container {
    width: 100vw;
    height: 100vh;
    background-color: aqua;
}

.leftPanel {
    width: 70%;
    height: 100%;
    float: left;
    background-color: rgb(180, 180, 180);
    border-collapse: collapse;
}

.rightPanel {
    width: 30%;
    height: 100%;
    float: right;
    position: relative;
    background-color: gray;
    border-collapse: collapse;
}